*{
    text-align: center;
    font-family: monospace;
    margin: 0%;
    padding: 0%;
    color: #000000;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
h1{
    margin: 50px;
    font-size: 50px;
}
p{
    font-size: 20px;
    margin-bottom: 50px;
}
div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
img{
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
    transition: ease-in-out;
    transform: scale(1);
}
img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}